<h1>Profile</h1>
<label>Name:</label><p><%= @user_profile.name %></p>
<label>Bio:</label><p><%= @user_profile.bio %></p>
<label>Location:</label><p><%= @user_profile.location %></p>
<label>Url</label><p><%= @user_profile.url %></p>
